@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 195 30% 25%;
    --card: 0 0% 100%;
    --card-foreground: 195 30% 25%;
    --popover: 0 0% 100%;
    --popover-foreground: 195 30% 25%;
    --primary: 195 30% 25%;
    --primary-foreground: 0 0% 100%;
    --secondary: 195 50% 80%;
    --secondary-foreground: 195 30% 25%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 195 30% 25%;
    --destructive: 10 80% 85%;
    --destructive-foreground: 350 30% 20%;
    --border: 195 30% 85%;
    --input: 195 30% 85%;
    --ring: 195 30% 25%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  }
}
